spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bsndb
    username: username
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: PostgreSQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  # Mailing
  mail:
    host: smtp.gmail.com
    port: 465
    username: restonspositifs2@gmail.com
    password: ygyp vpty seya lhmg
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
            trust: "*"
        starttls:
          enable: true
    protocol: smtp

application:
  security:
    jwt:
      expiration: 8640000
  mailing:
    frontend:
      activation-url: http://localhost:4200/activate-account
  file:
    upload:
      photos-output-path: ./uploads

# Swagger local url
# http://localhost:8088/api/v1/swagger-ui/index.html
server:
  port: 8088
