<h2>My borrowed books</h2>
<hr>
<!-- Borrowed book feedback -->
<div class="d-flex flex-column col-6 m-2" *ngIf="selectedBook">
  <h3>Return and share feedback</h3>

  <!-- Borrowed book details -->
  <div class="d-flex flex-column col-12">
    <div class="d-flex">
      <div class="col-2">
        <strong>Title</strong>
      </div>
      <div class="col-10">{{ selectedBook.title }}</div>
    </div>
    <div class="d-flex">
      <div class="col-2">
        <strong>Author</strong>
      </div>
      <div class="col-10">{{ selectedBook.author }}</div>
    </div>
    <div class="d-flex">
      <div class="col-2">
        <strong>ISBN</strong>
      </div>
      <div class="col-10">{{ selectedBook.isbn }}</div>
    </div>
    <div class="d-flex">
      <div class="col-2">
        <strong>Rate</strong>
      </div>
      <div class="col-10">{{ selectedBook.rate }}</div>
    </div>
  </div>
  <hr>

  <!-- Feedback form -->
  <div class="col-12">
    <form class="row g-3">
      <div class="d-flex gap-3">
        <input type="range" [(ngModel)]="feedbackRequest.note" id="rate" name="rate"
               class="form-range w-25" min="0" max="5" step="0.5">
        <app-rating [rating]="feedbackRequest.note || 0"></app-rating>
        {{ feedbackRequest.note }}
      </div>
      <div class="col-12">
        <label for="feedback" class="form-label">Feedback</label>
        <textarea rows="4" class="form-control" id="feedback" name="feedback" placeholder="Give your feedback"
                  [(ngModel)]="feedbackRequest.comment"></textarea>
      </div>
      <div class="d-flex justify-content-end gap-2 col-12">
        <button (click)="onReturnBook(true)" type="submit" class="btn btn-outline-success">
          <i class="fas fa-save"></i>&nbsp;Rate and Return
        </button>
        <button (click)="onReturnBook(false)" type="submit" class="btn btn-outline-primary">
          <i class="fa-solid fa-paper-plane"></i>&nbsp;Just Return
        </button>
        <button (click)="selectedBook = undefined" class="btn btn-outline-danger">
          <i class="fas fa-times"></i>&nbsp;Cancel and go back
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Borrowed books list-->
<div *ngIf="!selectedBook">
  <table class="table table-bordered">
    <thead class="table-light">
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">ISBN</th>
      <th scope="col">Rate</th>
      <th scope="col"><i class="fas fa-cogs"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of borrowedBooks.content; let index = index">
      <th scope="row">{{ index + 1 }}</th>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.isbn }}</td>
      <td><i class="fas fa-star text-warning"></i> {{ book.rate }}</td>
      <td>
        <div class="d-flex gap-2">
          <i *ngIf="book.returned" class="cursor-pointer fa-regular fa-paper-plane text-success"></i>
          <i *ngIf="!book.returned" (click)="onReturnBorrowedBook(book)"
             class="cursor-pointer fa-solid fa-paper-plane  text-primary"></i>
          <i class="fa-solid fa-circle-check" [class.text-success]="book.returnApproved"></i>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="d-flex justify-content-center mt-3">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <!-- Left navigation -->
        <li class="page-item">
          <a (click)="onGoToTheFirstPage()"
             href="javascript:void(0)"
             aria-label="Previous" class="page-link"
             [class.disabled]="page == 0">
            <i class="fa-solid fa-angles-left"></i>
          </a>
        </li>
        <li class="page-item">
          <a (click)="onGoToPreviousPage()"
             href="javascript:void(0)"
             aria-label="Previous"
             class="page-link" [class.disabled]="page == 0">
            <i class="fa-solid fa-angle-left"></i>
          </a>
        </li>

        <!-- Go to a given page -->
        <li class="page-item" *ngFor="let _ of [].constructor(borrowedBooks.totalPages); let pageIndex = index">
          <a (click)="onGoToPage(pageIndex)" [class.active]="page == pageIndex"
             href="javascript:void(0)"
             aria-label="Previous"
             class="page-link">
            {{ pageIndex + 1 }}
          </a>
        </li>

        <!-- Right navigation -->
        <li class="page-item">
          <a (click)="onGoToNextPage()" [class.disabled]="isLastPage"
             href="javascript:void(0)" aria-label="Next" class="page-link">
            <i class="fa-solid fa-angle-right"></i>
          </a>
        </li>
        <li class="page-item">
          <a (click)="onGoToLastPage()" [class.disabled]="isLastPage"
             href="javascript:void(0)" aria-label="Previous" class="page-link">
            <i class="fa-solid fa-angles-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
