<div class="p-2">
  <h2>Book Management</h2>
  <hr>
  <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg.length > 0">
    <p class="p-0 m-0" *ngFor="let msg of errorMsg">{{ msg }}</p>
  </div>
  <div class="container d-flex gap-2">
    <div class="col-3">
      <img [src]="selectedPicture || defaultImage" alt="Book cover" class="rounded-1" width="100%">
      <div class="mt-2">
        <input (change)="onSelectedFile($event)" type="file" id="file" accept="image/*" class="form-control">
      </div>
    </div>
    <div class="col-9">
      <div class="card">
        <div class="card-body">
          <form class="row g-3">
            <div class="col-12">
              <label for="title" class="form-label">Title</label>
              <input type="text" id="title" name="title" placeholder="Book title" class="form-control"
                     [(ngModel)]="bookRequest.title">
            </div>
            <div class="col-6">
              <label for="author" class="form-label">Author name</label>
              <input type="text" id="author" name="author" placeholder="Author name" class="form-control"
                     [(ngModel)]="bookRequest.author">
            </div>
            <div class="col-6">
              <label for="isbn" class="form-label">ISBN</label>
              <input type="text" id="isbn" name="isbn" placeholder="Book ISBN" class="form-control" [(ngModel)]="bookRequest.isbn">
            </div>
            <div class="col-12">
              <label for="synopsis" class="form-label">Synopsis</label>
              <textarea type="text" id="synopsis" name="synopsis" rows="4" placeholder="Book synopsis" class="form-control"
                        [(ngModel)]="bookRequest.synopsis"></textarea>
            </div>
            <div class="col-12">
              <input type="checkbox" id="shareme" name="shareable" [(ngModel)]="bookRequest.shareable" class="form-check-input">
              <label for="shareme" class="form-check-label ms-2">Share it</label>
            </div>

            <!-- Actions button -->
            <div class="d-flex justify-content-end gap-2 col-12">
              <button (click)="onSaveBook()" type="submit" class="btn btn-outline-primary">
                <i class="fas fa-save"></i>&nbsp;Save
              </button>
              <button routerLink="/books/my-books" class="btn btn-outline-danger">
                <i class="fas fa-times"></i>&nbsp;Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
